body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.container__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: start;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__iten {
  margin-right: 50px;
}

.container__logo {
  display: flex;
  flex-wrap: wrap;
}
